.footerContainer{
    background-color: #1d5c96;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    color: #fff;
}

.footerh2{
    font-size: 1.6rem;
}

@media (max-width: 480px) {
    .footerContainer{
        height: 6rem;
    }
    .footerh2{
        font-size: 3rem;
    }
}